<%- include("partials/header"); -%> 
<div class="top">
    <form class="formTop" action="/" method="get">
        <button type="submit" class="contacto">HOME</button>
    </form>
</div>
<div class="contactPage">
    <h2 id="heading">CONTACT</h2>
    <h4 id="subheading">Adrián González</h4>
    <p>Web Developer</p>
    <img class="js" src="" alt="">
    <img class="node" src="" alt="">
    <img class="html5" src="" alt="">
    <img class="css3" src="" alt="">
</div>
<div>

</div>

<%- include("partials/footer");-%> 